.profile-box {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 2px 2px 10px #e6e5e5;
}
.profile-box h2 {
    color: #005ba5;
}
.profile-box button {
    color: #fff;
background-color: salmon;
padding: 8px 20px;
border: 1px solid gray;
border-radius: 10px;
cursor: pointer;
}
.profile-box button:hover {
    background: seagreen;
}
.profile-box .font-icon {
    color: #111;
    font-size: 16px;
    margin-left: 5px;
}